<!DOCTYPE html>
	<html>
		<head>
			<title>{{ page.title }}</title>
			<!-- link to main stylesheet -->
			<link rel="stylesheet" type="text/css" href="/css/main.css">
			<script type="text/javascript" async src="https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.5/latest.js?config=TeX-MML-AM_CHTML" async>
			</script>
		</head>
		<body>
			<!--<nav>
	    		<ul>
	        		<li><a href="/">Home</a></li>
		        	<li><a href="/about">About</a></li>
	        		<li><a href="/blog">Blog</a></li>
				</br>
	    		</ul>
			</nav> -->
			<div class="container">
				<div class="header">
					<ul class="nav nav-pills pull-right">
						<li><a href="/about" title="About">About</a></li>
						<!-- <li class="{{ page.projects }}"><a href="/projects" title="Projects">Projects</a></li> -->
						<!-- <li class="{{ page.notes }}"><a href="/notes" title="Notes">Notes</a></li> -->
						<li><a href="/blog" title="Blog">Blog</a></li>
					</ul>
					<h3 class="text-muted"><a href="/">Aryaman  Maithani</a></h3>
				</div> <!-- /header -->
			{{ content }}
			
			</div><!-- /.container -->
			<footer>
	    		<ul>
	        		<li><a href="mailto:aryamanmaithani@gmail.com">email</a></li>
	        		<li><a href="https://github.com/aryamanmaithani">github.com/aryamanmaithani</a></li>
				</ul>
			</footer>
		</body>
	</html>
